$primary: rgb(59, 111, 255);

h1 {
    margin-top: 3%;
}

div {
    input:invalid {
        border: 2px solid red;
    }
    
    input:valid {
        border: 2px solid white;
    }

    button:hover {
        background: $primary;
        color: white;
    }
}

div.SignUp {
    margin-top: 10%;
}

