<h1>DMCA Notice & Takedown Policy</h1>

<p> 
    It is the policy of Angular Sound to expeditiously respond to clear notices of alleged copyright infringement.
    This page describes the information that should be present in these notices. Angular Sound designed this policy to
    make submitting notices of alleged infringement to Angular Sound as straightforward as possible while reducing the
    number of received notices that are fraudulent or difficult to understand or verify. The form of notice specified
    below is consistent with the form suggested by the United States Digital Millennium Copyright Act ("DMCA").
</p>

<p>
    It is expected that all users of any part of the Angular Sound site, will comply with applicable copyright laws. If,
    however, Angular Sound receives proper notification of claimed copyright infringement, the response to such notices
    will include removing or disabling access to content claimed to be the subject of infringing activity and/or
    terminating the user’s account, regardless of whether Angular Sound may be liable for such infringement under United
    States laws, state or local laws, or the laws of another jurisdiction.
</p>

<p>
    If Angular Sound removes or disables access in response to such a notice, Angular Sound will make a good-faith attempt to
    contact the owner of the affected content so that a counter notification pursuant to Sections 512(g)(2) and (3) of
    the DMCA may be made. Angular Sound may also document notices of alleged infringement on which it acts.
</p>

<p>
    Upon receipt of proper notification of claimed infringement, Angular Sound will follow the procedures outlined herein
    and in the DMCA.
</p>