<h1>Security & Privacy Policy</h1>

<h3>Introduction</h3>
<p>We are responsible for maintaining and protecting the Personal Information under our control. We have designated an individual who is responsible for compliance with our privacy policy.</p>
<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
<br>

<h3>Consent</h3>
<p>Knowledge and consent are required for the collection, use or disclosure of Personal Information except where required or permitted by law. Providing us with your Personal Information is always your choice. However, your decision not to provide certain information may limit our ability to provide you with our services.</p>
<br>

<h3>Limited Collection</h3>
<p>The Personal Information collected will be limited to those details necessary for the purposes identified by us.</p>
<br>

<h3>Limiting Use, Disclosure and Retention</h3>
<p>Personal Information may only be used or disclosed for the purpose for which it was collected unless you have otherwise consented, or when it is required or permitted by law. Personal Information will only be retained for the period of time required to fulfill the purpose for which we collected it or as may be required by law.</p>
<br>

<h3>Safeguarding Customer Information</h3>
<p>Personal Information will be protected by security safeguards that are appropriate to the sensitivity level of the information. We take all reasonable precautions to protect your Personal Information from any loss or unauthorized use, access or disclosure.</p>
<br>

<h3>Handling Customer Complaints and Suggestions</h3>
<p>You may direct any questions or enquiries with respect to our privacy policy or our practices by contacting:</p>
<p><b>Arya Vatan-Abadi</b></p>
<br><br>
