<h1>Takedown Procedure and Tools</h1>

<!-- <h3>Procedure</h3> -->

<p>Before you send a DMCA Takedown Notice you need to establish a few things:</p>
<ol>
    <li><b>You own the copyright</b> or have the right to assert infringement of a copyright you license. If you do not own the copyright or have a legal right to assert a claim of copyright infringement, you’re wasting your time.</li>
    <li><b>The alleged infringement is not covered by an exception</b> such as Fair Use or free speech laws. While you don’t have to know every aspect of Fair Use exceptions, you do have to have a “good faith” belief that the alleged infringing use is not covered by any law which would permit its use.</li>
    <li>The content is capable of being infringed online. That mean the work must be something in digital form. Here are some examples:
        <ul>
            <li><b>Text</b> (TXT, RTF, DOC, DOCx, PDF, PPT, PAGES, etc.)</li>
            <li><b>Images, pictures & photos</b> (BMP, EPS, SVG, JPG, JPEG, GIF, PNG, PSD, RAW, TIFF, etc.)</li>
            <li><b>Video</b> (MPG, AVI, RM, MOV, Quicktime, Windows Media Player, RealPlayer)</li>
            <li><b>Music & audio</b> (AIF, AU, MP3, MP4, MID, WAV, etc. )</li>
            <li><b>Images found on Facebook, Tumblr, Pinterest, Flickr</b></li>
        </ul>
    </li>
</ol>

<p>Once you’ve determined these three things, and you are sure you want to file the DMCA Takedown Notice, there are very exacting provisions of the law you must comply with or the receiving agent may ignore your request. Here are the steps to use when filing a DMCA Takedown Notice.</p>
<ol>
    <li>
        <strong>Locate the correct person</strong>. If you find your content on another website it may not be common knowledge who their hosting company is. You can use <strong>Domain Tools</strong> to help you find the information. If you are sending a takedown notice to an ISP there is often an email or form provided on their site. 
        You may need to hunt for it as there is no consistent location. Some put it under Copyright, others have it in their Terms and Conditions. If you can not find the DMCA agent contact on the website, search the 
        <strong><a href="http://www.copyright.gov/onlinesp/list/a_agents.html" target="_blank" rel="noopener noreferrer">US Copyright Office list of DMCA agents</a></strong>. While the information should be current, it may not be due to the organization not updating their information with the US Copyright Office.
    </li>

    <li>
        If the ISP, search engine, social media platform, or website has an online form specifically for DMCA Takedown requests it is often best to <strong>use the form</strong> as your initial point of contact since it is likely going to yield a more timely response. 
        That is not always the case, but many large provider (especially search engines) use forms to direct specific issues to different departments. For example, one large search engine has different departments that handle requests related to images and video.
    </li>

    <li>
        If an online <em>form is not provided</em>, you will need to <strong>send your notice to the designated DMCA agent</strong> in the manner they request. Keep in mind that while you think email should be acceptable, if the DMCA agent requests notices by fax (or in some cases registered mail) you 
        <em>MUST</em> submit your request how they want it. Never mind how stupid you may think it is, the DMCA agent chooses the method(s) they want to accept.
    </li>

    <li>
        If you are not using an online form, your letter will need to contain some very specific information. The Digital Millennium Copyright Act sets forth the information that must be provided in a DMCA takedown notice, not the ISP, search engine, website, social media platform, or DMCA takedown agent.
    </li>

</ol>

<p>Often you will need to send this same information to multiple parties, so it makes sense to put it in a letter to ensure you have all the necessary information for your request.</p>
<p><strong>Your notification must:</strong></p>
<ul>
    <li>Be in writing (this includes both hardcopy or digital)</li>
    <li>Be signed (whether in writing of via electronic signature) by the copyright owner or agent</li>
    <li>Identify the original copyrighted work (or works if there ar multiple) you claim has been infringed</li>
    <li>Identify the material that is infringing your copyrighted work</li>
    <li>Include contact information so the designated agent can reach you, if necessary</li>
    <li>Include a statement your complaint is in “good faith”</li>
    <li>Include a statement the information in the notification is accurate</li>
    <li>Include a statement that under penalty of perjury you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ul>

<p>
    For more information about the DMCA takedown procedure (including a takedown notice template) 
    <a href="https://sarafhawkins.com/how-to-file-dmca-takedown/">click here</a>
</p>
<br><br><br>



