$primary: rgb(59, 111, 255);

h1 {
    margin-top: 3%;
}

.search input {
	padding: 6px;
	border: none;
	font-size: 17px;
	outline-style: dotted;
	outline-color: $primary;
	margin-left: 1%;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: auto;
        height: auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }
    }

    li:hover{
        background: lighten($primary, 15%);
    }
}