<h1>Add a Song</h1>
<form (submit)="PostSong(songForm)" #songForm="ngForm">
    <strong>Track Title: </strong>
    <input type="text" name="title" [(ngModel)]="title" required>
    <br><br>

    <strong>Artist(s): </strong>
    <input type="text" name="artist" [(ngModel)]="artist" required>
    <br><br>

    <strong>Album: </strong>
    <input type="text" name="album" [(ngModel)]="album">
    <br><br>

    <strong>Year: </strong>
    <input type="number" name="year" [(ngModel)]="year" max="2019" min="1950">
    <br><br>

    <strong>Track: </strong>
    <input type="text" name="track" [(ngModel)]="track">
    <br><br>

    <strong>Genre: </strong>
    <input type="text" name="genre" [(ngModel)]="genre">
    <br><br>

    <strong>Add Review </strong>
    <input type="checkbox" name="review" [(ngModel)]="review">
    <p>Check this box if you would like to write a review after adding the song</p>
    <br>

    <button type="submit">Add Song</button>
</form>
